.sidebar {
    position: fixed;
    width: 100dvw;    
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #e9e8e8f8;
    box-shadow: .2rem .2rem .2rem #1C1C1C;
    transition: all .7s ease;
}

.styleSidebar {
    background: none;
    box-shadow:none;  
    transition: all .3s ease-in;
}

@media screen and (max-width:992px) {
 
    /* .sidebar .styleSidebar {
        position: fixed;
        width: 100%;
        height: 90px;
        top: 0;
        left: 0;
        z-index: 100;
        color: #fff;
    } */
}

.line {
    border-top: 1px solid #2c2c2c;
    border-bottom: 1px solid #2c2c2c;
    box-shadow: inset 0px -3px 25px -8px rgba(0, 0, 0, 0.75);
}

.layout__principal {
    width: 100%;
}

.mapa--container {
    position: relative;
    width: 50%;
    display: flex;
     align-items: center;
    justify-content: center;
}

.localizacao--container{
    display: flex;
     align-items: center;
    justify-content: center;
}

.localizacao--container {
    position: relative;
    width: 50%;
    color: #fff;
}

@media screen and (max-width:992px) {

    .layout__principal {
        overflow-x: hidden;
        height: 100%;
    }

    .localizacao--container {
        position: relative;
        width: 70%;
        margin: 0 auto;
        font-size: 1rem;
        color: #fff;
        padding: 2em 0;
    }

    .mapa--container {
        width: 100%;
        height: 50vh;
    }
}

@media screen and (max-height:354px) {
    .localizacao--container {
        position: relative;
        width: 100%;
        color: #fff;
        background-color: rgb(48, 49, 49);
    }

    .mapa--container {
        width: 100%;
        height: 75vh;
    }

    .mapa--container:before {
        display: none;
    }
}

.contatos--container {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.layout__rodape {
    width: 100%;
    padding: 5em 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background-color: #000000;
}

@media screen and (max-width:992px) {
    .contatos--container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;

    }


    .layout__rodape {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        padding: 10px 0;

        color: #fff;
    }

}

@media screen and (max-width:600px) and (max-height:354px) {
    .contatos--container {
        position: relative;
        margin: 0;
        width: 100%;
        height: 100vh;
        padding: 20px 0;
        display: inline;
    }
}