@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');


:root {

    --fontPrimary: 'Baloo Da 2', sans-serif;
    --fontSecundary: 'Josefin Sans', sans-serif;
    --fontTerceiry: 'Franklin Gothic Medium', sans-serif;

}

::-webkit-scrollbar {

    display: none;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

:root {
    --primeirafont: 'Baloo Da 2', sans-serif;
    --segundafont: 'Josefin Sans', sans-serif;
    --terceirafont: 'Franklin Gothic Medium', sans-serif
}

body {
    background-color: #141414;
}

.container {
    width: 100dvw;
    height: 100dvh;
    font-family: var(--primeirafont);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
}

.containerMenu {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 52em;
    height: fit-content;
    background-color: #141414;
    border-radius: var(--radius);
    box-shadow: var(--card-shadow);
}

.container-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-gruop {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5em 2em .5em 2em;
}

#imgLink {
    -webkit-tap-highlight-color: transparent;
    border-radius: .5rem;
}

#imgLink:active {
    background-color: #4947475b;
}

.img-title {
    width: 5em;
    object-fit: cover;
}

.titulo-login {
    font-size: 1.5rem;
    letter-spacing: .2rem;
    color: #FFFF;
    padding: 8px 0 0 8px;
    text-shadow: 1px 2px 1px #000;
    font-weight: bolder;
    text-transform: uppercase;
}


.nameGrupo,
.emailGrupo,
.passwordGrupo{
    display: flex;
    align-items: start;
    color: #fff;
    margin: .5rem 0;
    padding: .5rem .8rem;

    border: rgb(218, 218, 218) solid .1rem;
    border-radius: .7rem;
}


.nameGrupo,
.passwordGrupo,
.botoesGrupo {
    position: relative;
    color: #FFFF;
}

.nameGrupo input::selection,
.passwordGrupo input::selection,
.botoesGrupo input::selection {
    color: #fff;
    background-color: #3f3c3c;
}

.nameLabel,
.emailLabel,
.namePassword {
    margin: .5rem 0 0 0;
    font-size: 1.3em;
    font-weight: bold;
    font-family: var(--fontTerceiry);
}

.namePassword {
    white-space: nowrap;
    overflow: hidden;
}

.input-cad,
.passwordGrupo input {
    padding-left: .8rem;
    border: none;
    background: none;
    outline: none;
    width: 50%;
    margin: .35rem 0;
    font-size: 1.2rem;
    color: #FFFF;
}

.passwordGrupo #bpassword::-webkit-inner-spin-button,
.passwordGrupo #bpassword::-webkit-outer-spin-button {
    display: none;
}

.input-cad::selection,
.passwordGrupo input::selection {
    color: #fff;
    background-color: #3f3c3c;
}

.input-cad:-webkit-autofill,
.input-cad:-webkit-autofill:hover,
.input-cad:-webkit-autofill:focus,
.input-cad:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}

.passwordGrupo input:-webkit-autofill,
.passwordGrupo input:-webkit-autofill:hover,
.passwordGrupo input:-webkit-autofill:focus,
.passwordGrupo input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}


.container-gruop a {
    margin: .7rem 0 0 20px;
    color: #fff;

}


.botoesGrupo {
    width: 100%;
    height: 15dvh;
    margin: 1.5rem 0;
    padding: 0;
    display: flex;
    align-items: center; 
}

.botoesGrupo a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

#link {
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

#recovery {
    -webkit-tap-highlight-color: transparent;
}

.btn-Login {
    padding: 20px 25px;
    text-align: center;
    margin: 0 10px;
    font-family: var(--fontPrimary);
    font-size: 1.2rem;
    font-weight: 800;

    text-transform: capitalize;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    transition: background-color .7s ease-in;
}

.btn-enter,
.btn-confirmar {
    width: 14rem;
}


.recovery .btn-enter,
.recovery .btn-confirmar {
    width: 12rem;
}

.recovery .btn-confirmar {
    width: 13rem;
}

.recovery .btn-cancel-recovery {
    display: none;
}

.recovery .namePassword {
    white-space: nowrap;
    overflow: hidden;
}

.btn-cancel-recovery {
    display: none
}

.btn-google {
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;

}

.iconGoogle {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 1rem;
    font-weight: bolder;
    font-family: var(--fontPrimary);
    background: url(https://developers.google.com/identity/images/g-logo.png);
    background-size: contain;
    text-transform: capitalize;
    vertical-align: middle;
    mix-blend-mode: multiply;
    margin: 0 .7rem 0 0;

}

.btn-enter:hover,
.btn-cadastrar:hover,
.btn-cancel-recovery:hover,
.btn-google:hover {
    cursor: pointer;
    background-color: #f5f4f4cc;
    transition: background-color .7s ease-in-out;
}


.campoCadrastro {
    display: none;
}

.cadastrar .campoCadrastro {
    display: flex;
}



.cadastrar .campoFile {
    display: flex;
    align-items: center;
    justify-content: start;
}

.container-gruop .linkSenha {
    margin: 0;
}

.cadastrar .linkSenha {
    display: none;
}


.imgFile {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #595959;
}

.imgFile img {
    width: 100%;
}

.FileButton {
    width: 18em;
    padding: .32em .38em;
    margin: 0 1rem;
    font-size: .8rem;
    display: inline-block;
    background-color: #595959;
    text-align: center;
    color: white;
    border-radius: .2rem;
    cursor: pointer;
}

@media screen and (max-width:992px) {
    body {
        background-color: #141414;
    }

    .containerMenu {
        width: 100dvw;
        height: 100dvh;
        padding: 30px 10px;
        border-radius: 7px;
    }


    .cadastrar,.recovery {
        width: 100dvw;
        height: 100dvh;
        padding: 15px 10px;
        align-items: center;
    }

    .container-titulo {
        flex-direction: column;
    }

    .img-title {
        width: 6em;
    }



    .titulo-login {
        padding: 0;
        font-size: 1.8rem;
        text-transform: uppercase;

    }

    #recovery {
        width: 12em;
    }

    .recovery .btn-confirmar {
        width: 9.5rem;
    }

    .nameLabel,
    .emailLabel,
    .namePassword {
        margin: .5rem 0 0 0;
        font-size: 95%;
        font-weight: bold;
        font-family: var(--fontTerceiry);
        text-shadow: 1px 1px 1px #000;

    }

    .FileButton {
        margin: 1rem;
        font-size: 1.2rem;
    }

    .input-cad,
    .passwordGrupo input {}

    .cadastrar .namePassword {
        font-size: 95%;
    }

    .cadastrar .nameGrupo,
    .cadastrar .passwordGrupo .cadastrar .emailGrupo {
        display: inline-flex;
    }

    .emailGrupo .input-cad,
    #bpassword {
    width: 70%;
    }

    .nameGrupo,
    .emailGrupo,
    .passwordGrupo,
    .botoesGrupo {
        width: 100%;
        font-size: 1.5rem;
        position: relative;
        color: #FFFF;
        margin: .5rem 0;
        padding: .8rem 1rem;
    }

    .linkSenha p {
        font-size: 1.3em;
        margin: 10px 0 0 0;
    }

    .confirPass label {
        font-size: .7rem;
    }

    .confirPass input {
        font-size: 1.2rem;

    }


    .passwordGrupo p {
        font-size: 1.2rem;
    }

    .container-gruop {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .8em .2em;
        margin: 1rem 0 0 0
    }

    .recovery .namePassword {
        margin: .5rem 0 0 0;
    }


    .cadastrar #link {
        margin: 0;
        padding: 0;
    }

    .recovery #link {
        width: 100%;
        margin: 0 auto;
    }



    .botoesGrupo {
        width: 100%;
        height: 100%;
        padding: .5rem 0;

        margin: 0;
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        text-transform: lowercase;
    }

    .botoesGrupo a {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        text-transform: lowercase;
    }

    .btn-Login {
        padding: 1.5rem 1.6rem;
        margin: 1rem 0;
        font-family: var(--fontPrimary);
        font-size: 1.2rem;
        font-weight: 800;
        white-space: nowrap;
        background-color: #fff;
        border-radius: 7px;
        border: none;
        transition: background-color .7s ease-in;
    }

    .btn-enter {
        width: 10rem;
    }
    

    .recovery .btn-enter,
    .recovery .btn-cadastrar {
        width: 12rem;
    
    }


    .cadastrar .btn-enter,
    .cadastrar .btn-cancel-recovery {
        margin: 1rem 0;
    }

    .btn-google {
        width: 95%;
    }

    .recovery .btn-confirmar {
        width: 30%;
        margin: 1rem 0;
    }
    
     .recovery .btn-cancel-recovery {
         margin:1rem 0;
        width: 95%;
 }
 
    .recovery .btn-enter{
        margin: 1rem 0;
    }

}

@media screen and (max-width:654px) {

    .recovery .namePassword {
        margin: .6rem 0 0 0;
        font-size: 1.2rem;
    }

    .recovery .btn-enter {
        width: 40%;
        font-size: 1.2rem;
    }

    .recovery .btn-confirmar {
        width: 45%;
        font-size: 1.2rem;
    }
   
}

@media screen and (max-width:550px) {
    .recovery .namePassword {
        min-width: 138px;
        margin: .6rem 0 0 0;
    }

}

@media screen and (max-width:478px) {
    .recovery .namePassword {
        margin: .6rem 0 0 0; 
    }

}

@media screen and (max-width:421px) {
    .recovery .namePassword {}

    .recovery .passwordGrupo .input-cad {}
}


@media screen and (max-width:370px) {

    body,
    html {
        min-width: 370px;
        max-height: 446px;
    }

    .container,
    .containerMenu {
        min-width: 370px;
    }

    .container-titulo,
    .container-gruop,
    .botoesGrupo {
        min-width: 350px;
    }
}